body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sps{
  position: relative;
  top: -6px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.about {
  width: 100%;
  background-color: #29004e;
  color: white;
}
.about-text {
  margin: 0;
}
.about h2 {
  color: white;
}
.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.about .row {
  width: 100%;
  height: 50%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #33035c;
}
.about .row img {
  align-self: flex-start;
  background: white;
  width: 170px;
  position: relative;
  bottom: -65px;
}
@media (max-width: 900px) {
  .about .row {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .about .row img {
    width: 200px;
  }
}
